USE [core]
GO
/****** Object:  UserDefinedFunction [core].[GetParameter]    Script Date: 01/07/2025 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE FUNCTION [core].[GetDatabaseFromOrganisationID]
        (
            @intID int
        )
        RETURNS nvarchar(4000)
        AS
        BEGIN
            DECLARE @Value nvarchar(4000);
            
            SELECT @Value = [DatabaseName]
            FROM [core].[Organisations]
            WHERE [OrganisationID] = @intID 
              AND [IsActive] = 1;
            
            RETURN @Value;
        END;
        