USE [core]
GO
/****** Object:  StoredProcedure [core].[CreateOrganisationDatabase]    Script Date: 01/07/2025 12:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [core].[CreateOrganisationDatabase] 
    @OrganisationCode uniqueidentifier
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DatabaseName nvarchar(128);
    DECLARE @OrganisationName nvarchar(200);
    DECLARE @SQL nvarchar(max);
    DECLARE @ErrorMessage nvarchar(4000);
    DECLARE @OrganisationCodeStr nvarchar(36);
    
    -- Convert GUID to string once for reuse
    SET @OrganisationCodeStr = CONVERT(nvarchar(36), @OrganisationCode);
    
    -- Get Organisation details
    SELECT 
        @DatabaseName = @OrganisationCodeStr + 'XMSBI',
        @OrganisationName = [OrganisationName]
    FROM [core].[Organisations]
    WHERE [OrganisationCode] = @OrganisationCode AND [IsActive] = 1;
    
    IF @DatabaseName IS NULL
    BEGIN
        RAISERROR('Organisation with code %s not found or inactive.', 16, 1, @OrganisationCodeStr);
        RETURN;
    END
    
    -- Check if database already exists
    IF EXISTS (SELECT 1 FROM sys.databases WHERE name = @DatabaseName)
    BEGIN
        PRINT 'Database ' + @DatabaseName + ' already exists. Skipping creation.';
        -- Update status to ACTIVE since DB exists
        UPDATE [core].[Organisations]
        SET [DatabaseStatus] = 'ACTIVE',
            [DatabaseCreated] = 1,
            [DatabaseCreatedDate] = GETDATE(),
            [ModifiedBy] = SYSTEM_USER,
            [ModifiedDate] = GETDATE()
        WHERE [OrganisationCode] = @OrganisationCode;
        RETURN;
    END
    
    -- Update status to CREATING
    UPDATE [core].[Organisations]
    SET [DatabaseStatus] = 'CREATING',
        [DatabaseName] = @DatabaseName,
        [ModifiedBy] = SYSTEM_USER,
        [ModifiedDate] = GETDATE()
    WHERE [OrganisationCode] = @OrganisationCode;
    
    BEGIN TRY
        -- Create the database
        PRINT 'Creating database: ' + @DatabaseName;
        SET @SQL = 'CREATE DATABASE ' + QUOTENAME(@DatabaseName);
        EXEC sp_executesql @SQL;
        
        -- Create schemas
        BEGIN TRY
        EXEC('USE [' + @DatabaseName + ']; EXEC(''CREATE SCHEMA [core]'')');
        EXEC('USE [' + @DatabaseName + ']; EXEC(''CREATE SCHEMA [datavault]'')');
        EXEC('USE [' + @DatabaseName + ']; EXEC(''CREATE SCHEMA [load]'')');
        EXEC('USE [' + @DatabaseName + ']; EXEC(''CREATE SCHEMA [stage]'')');
        EXEC('USE [' + @DatabaseName + ']; EXEC(''CREATE SCHEMA [presentation]'')');
            PRINT 'Created schemas';
        END TRY
        BEGIN CATCH
            IF ERROR_NUMBER() = 2759 -- Schema already exists
                PRINT 'Schema already exists - continuing';
            ELSE
                PRINT 'Error creating schemas: ' + ERROR_MESSAGE();
        END CATCH


        SET @SQL = '
        EXEC [core].[sp_GenerateDataVaultTables] 
            @DatabaseName = ' + QUOTENAME(@DatabaseName) + ',
            @SchemaName = ''datavault'',
            @ExecuteSQL = 1;
         ' ;
        
        EXEC sp_executesql @SQL;

        SET @SQL = '
        EXEC [core].[sp_CreateGlobalParametersTools]
        @DatabaseName = ' + QUOTENAME(@DatabaseName) + ',
        @SchemaName = ''core''';
        
        EXEC sp_executesql @SQL;
        
        -- Update Organisation record to success
        UPDATE [core].[Organisations]
        SET [DatabaseStatus] = 'ACTIVE',
            [DatabaseCreated] = 1,
            [DatabaseCreatedDate] = GETDATE(),
            [ModifiedBy] = SYSTEM_USER,
            [ModifiedDate] = GETDATE()
        WHERE [OrganisationCode] = @OrganisationCode;
        
        PRINT 'Database created successfully: ' + @DatabaseName;
        
    END TRY
    BEGIN CATCH
        -- Update status to FAILED
        SET @ErrorMessage = ERROR_MESSAGE();
        
        UPDATE [core].[Organisations]
        SET [DatabaseStatus] = 'FAILED',
            [Notes] = 'Database creation failed: ' + @ErrorMessage,
            [ModifiedBy] = SYSTEM_USER,
            [ModifiedDate] = GETDATE()
        WHERE [OrganisationCode] = @OrganisationCode;
        
        PRINT 'Database creation failed: ' + @ErrorMessage;
        RAISERROR('Failed to create database %s: %s', 16, 1, @DatabaseName, @ErrorMessage);
    END CATCH
END;